#brand {
    max-width: 25rem;
    border-radius: 0.75rem;
    background: url('../assets/images/Background.png') center/cover no-repeat;
}


#brand-title {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    gap: 1rem;

    img {
        width: 2.86rem;
        height: 3rem;
    }

    #title {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        h1 {
            font: var(--logo);
            color: var(--accent-pink);
        }

        p {
            font: var(--body-md);
            color: var(--text-heading);
        }
    }

}