form {
    label {
        font: var(--body-sm);
        color: var(--text-body);
    }

    input, textarea {
        appearance: none;
        width: 100%;
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: 0.5rem;
        font: var(--body-md);
        color: var(--input-placeholder);
        
        &::placeholder {
            color: var(--input-placeholder);
        }
    }

    input {
        padding: 0.81rem 1rem;
    }

    textarea {
        padding: 1rem;
        height: 8.5rem;
    }

    input[type="checkbox"] {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0;
        border-radius: 0.25rem;
        
        &:checked {
            background-image: url("../assets/icons/check.svg");
            background-repeat: no-repeat;
            background-size: 1.1rem;
            border: 1px solid var(--brand-light);
        }
    }

    .input-wrapper {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;
    }

    #local {
        width: 100%;
        margin-top: -0.5rem;
    }

    fieldset {
        .input-flex {
            width: 100%;
            display: flex;
            gap: 1rem;
        }

        .input-flex:has(.toggle-wrapper):has(#toggle-drop) {
            gap: 4.5rem;
        }
    }

    .input-group {
        margin-top: 1rem;
    }

    .button-group {
        display: flex;
        margin-top: 0.75rem;
        gap: 0.5rem;
        background: var(--input-base);
        padding: 0.25rem;
        border-radius: 0.5rem;
        border: 1px solid var(--input-stroke);
    }

    .type-input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .type-btn {
        padding: 0.65rem 1.125rem;
        border-radius: 0.375rem;
        color: var(--text-heading);
        font: var(--body-sm);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;
    }

    .type-input:checked + .type-btn {
        background: var(--shape-button);
    }

    #online:checked + .type-btn svg path {
        fill: #59B2FF;
    }

    #presencial:not(:checked) + .type-btn svg path {
        fill: #869198;
    }

    #color-buttons {
        button {
            all: unset;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 50%;
            cursor: pointer;
            border: 0.3125rem solid var(--shape-button);
        }
        
        #brand-light { background-color: var(--brand-light); }
        #accent-navy { background-color: var(--accent-navy); }
        #accent-purple { background-color: var(--accent-purple); }
        #accent-fuschia { background-color: var(--accent-fuschia); }
        #accent-pink { background-color: var(--accent-pink); }
        #feedback-danger { background-color: var(--feedback-danger); }
        #accent-orange { background-color: var(--accent-orange); }
        #accent-yellow { background-color: var(--accent-yellow); }
        #accent-lime { background-color: var(--accent-lime); }
        #accent-green { background-color: var(--accent-green); }
        #accent-cyan { background-color: var(--accent-cyan); }
    }

    #event-theme > p,
    #main-color > p {
        margin-block: 1.5rem 1rem;
        font: var(--body-sm);
        color: #fff;
    }

    #theme-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        button {
            all: unset;
            cursor: pointer;
            border-radius: 0.5rem;
            transition: border-color 0.2s ease;
            background-color: var(--shape-button);
            border: 1px solid var(--input-stroke);
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.25rem 0.25rem 0 0.25rem;

            p {
                font: var(--body-sm);
                color: var(--text-heading);
                padding-block: 0.5rem;
            }
        }
    }

    .theme-toggle {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        font: var(--body-sm);
        color: var(--text-body);
        margin-top: 1.75rem;
    }

    .toggle-wrapper {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        input {
            display: none;
        }

        span {
            width: 2.75rem;
        }
    }

    .switch {
        position: relative;
        width: 4rem;
        height: 2rem;
        background: var(--input-base);
        border-radius: 999px;
        cursor: pointer;
        transition: background 0.3s;

        &::after {
            content: "";
            position: absolute;
            top: 0.2rem;
            left: 0.25rem;
            width: 1.5rem;
            height: 1.5rem;
            background: var(--input-stroke);
            border-radius: 50%;
            transition: all 0.3s;
        }
    }

    .toggle-wrapper input:checked + .switch {
        background: var(--brand-light);
        
        &::after {
            left: calc(100% - 1.75rem);
            background: #fff;
        }
    }

    .mode-text {
        font: var(--body-sm);
        color: var(--text-heading);
        
        &.claro {
            display: none;
        }
    }

    .toggle-wrapper input:checked ~ .escuro {
        display: none;
    }

    .toggle-wrapper input:checked ~ .claro {
        display: inline;
    }

    #toggle-drop {
        display: flex;
        flex-direction: column;
        gap: 0.85rem;
        margin-top: 1.75rem;

        span {
            font: var(--body-sm);
            color: var(--text-body);
        }
    }

    #input-drop {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 0.75rem;

        label {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.75rem;
            background-color: var(--shape-button);
            border-radius: 0.5rem;
            width: 7.43rem;

            img {
                width: 1rem;
                height: 1rem;
            }

            span {
                font: var(--body-sm);
                color: var(--text-heading);
            }
        }
    }
}