form {
    label {
        font: var(--body-sm);
        color: var(--text-body);
    }

    .input-wrapper {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;
    }


    input {
        appearance: none;
        background-color: var(--input-base);
        padding: 0.81rem 1rem;
        border: 1px solid var(--input-stroke);
        border-radius: 0.5rem;
        width: 100%;
        font: var(--body-md);
        color: var(--input-placeholder);
    }

    input::placeholder {
        color: var(--input-placeholder);
    }

    textarea {
        appearance: none;
        width: 100%;
        background-color: var(--input-base);
        font: var(--body-md);
        color: var(--input-placeholder);
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--input-stroke);
        height: 8.5rem;
    }

    textarea::placeholder {
        color: var(--input-placeholder);
    }

    fieldset {
        .input-flex {
            width: 100%;
            display: flex;
            gap: 1rem;
        }

    }

    .input-group {
        margin-top: 1rem;
    }

    .button-group {
        display: flex;
        margin-top: 0.75rem;
        gap: 0.5rem;
        background: var(--input-base);
        padding: 0.25rem;
        border-radius: 0.5rem;
        border: 1px solid var(--input-stroke);
    }


    .type-input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .type-btn {
        padding: 0.65rem 1.125rem;
        border-radius: 0.375rem;
        color: var(--text-heading);
        font: var(--body-sm);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;
    }

    .type-input:checked+.type-btn {
        background: var(--shape-button);
    }


    #online:checked+.type-btn svg path {
        fill: #59B2FF;
    }

    #presencial:not(:checked)+.type-btn svg path {
        fill: #869198;
    }
}