#invite {
    min-width: 100%;
    padding: 2.5rem 4rem;
    background-color: var(--shape-body);
    border-radius: 0.75rem;
    max-width: 100vw;
    overflow: hidden;
}

#invite h2 {
    font: var(--heading-md);
    color: var(--text-heading);
}

#forms {
    margin-top: 2.5rem;
}

#forms form {
    fieldset {
        border: none;

        legend {
            display: flex;
            gap: 0.75rem;
            justify-items: center;
            align-items: center;
            margin-bottom: 1.5rem;

            img {
                height: 1.5rem;
                width: 1.5rem;
                fill: var(--input-placeholder);
            }

            h3 {
                font: var(--heading-sm);
                color: var(--text-heading);
            }
        }
    }
}