main {
    display: grid;
    grid-template-columns: 25rem 1fr;
    gap: 1.25rem;
    width: 100%;
    min-height: 100vh;
    background-color: #1E1E1E;
    padding: 1.25rem;
}

#actions-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    button {
        appearance: none;
        background-color: var(--brand-dark);
        border: none;
        padding: 0.8125rem 1.25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
        border-radius: 0.5rem;
        cursor: pointer;

        img {
            width: 1.25rem;
            height: 1.25rem;
        }

        span {
            font: var(--body-md);
            color: var(--text-heading);
        }
    }
}